.readme {
  --font-size: 0.85rem;
  --ifm-h1-font-size: calc(var(--font-size) * 2);
  --ifm-h2-font-size: calc(var(--font-size) * 1.5);
  --ifm-h3-font-size: calc(var(--font-size) * 1.25);
  --ifm-h4-font-size: var(--font-size);
  --ifm-h5-font-size: calc(var(--font-size) * 0.875);
  --ifm-h6-font-size: calc(var(--font-size) * 0.85);
  font-size: var(--font-size);
}
