name: check_pull_requests
on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]
jobs:
  check_pull_requests:
    runs-on: ubuntu-latest
    permissions:
      issues: read
      pull-requests: write
    steps:
      - uses: nearform-actions/github-action-check-linked-issues@7140e2e01aa0c18b8ac61bddf5e89abde1ca760e # v1.8.3
        with:
          exclude-branches: "release/**, dependabot/**"
          custom-body-comment: |-
            プルリクエスト本文中に関連するissueが見つかりませんでした。[チケット駆動のルール](https://typescriptbook.jp/writing/ticket-driven)に基づき、[キーワードを用いたissueの関連付け機能](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)をご利用ください。
